/*  ===== MOBILE styles (reside at the top and are inherited by all devices) ===== */
/*  ===== See tablet, desktop, and print @media queries at the bottom. */


/*   ----- Imports  -----  */                         

/* Google font Montesserat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Ubuntu&display=swap');
          
/*   ----- Variables  -----  */
:root {
  --Big-Machine-red: hsla(358, 63%, 45%, 1);
  --Big-Machine-steel: hsla(36, 4%, 22%, 1); 
  --Big-Machine-light: hsla(184, 9%, 72%, 1); 
  --Big-Machine-grey: hsla(176, 9%, 57%, 1); 
  --Big-Machine-teal: hsla(174, 18%, 34%, 1); 
}
 

/*  ----- Viewport ----- elements inherited by all remaining elements ----- */
body {       /* Can alternatively define in html {} or :root {} */
  color:var(--Big-Machine-light);
  background-color:var(--Big-Machine-steel);
  font-family: 'Montserrat', sans-serif;
  font-size: 14pt;
  margin: 5px;
  padding: 0px 25% 0px 25%;
}
          

/*  ----- Navigation ----- Override text links for navigation only.  */
nav {
  text-align: center;
  
  background-color: var(--Big-Machine-grey);
  padding: 18px 0px;
}
nav a {
  background-color:var(--Big-Machine-light);
  color:var(--Big-Machine-steel);
  border: 2px solid var(--Big-Machine-steel);
  text-decoration: none;
  padding: 15px 25px;
  margin: 0px 5px;
  font-size: 24pt;
  font-weight: lighter;
  vertical-align: top;
}
nav a:hover {
  background-color:var(--Big-Machine-red); 
  color:var(--Big-Machine-light);
  font-weight: bold;
  border: 2px solid var(--Big-Machine-light);
}


/*  ----- Page layout blocks -----  */          
header, footer{
  background-color:var(--Big-Machine-teal);
  color:var(--Big-Machine-light);
  font-size: 28pt;
  font-weight: light;
  margin: 0px 0px 0px 0px;
  padding: 5px;
}
header {
  text-align: center;
}
footer {
  padding: 5px 5px 5px 75px;
}         
main {
  background-color:var(--Big-Machine-grey);
  color:var(--Big-Machine-steel);
  border: 2px solid var(--Big-Machine-grey);
  padding: 5% 15%;
}
article {
  text-align: center;
}

                   
/*  ----- Table ----- */
table {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
  border-collapse: collapse;
  border: 2px solid var(--Big-Machine-steel);
  background-color: var(--Big-Machine-light);
  color: var(--Big-Machine-steel);
}
caption {
  font-size: 24pt;
}
tr:nth-child(even) {
  background-color: var(--Big-Machine-grey);
}
th, td { 
  border: 2px solid var(--Big-Machine-steel);
  color: var(--Big-Machine-steel);
  padding: 5px 20px 5px 5px;
  text-align: left;
  font-size: 16pt;
  overflow: hidden;
}
.icon-columns {
  width: 10%;
}
.icon-td {
padding: .3em .75em;
}
th {
  color: var(--Big-Machine-light);
  background-color: var(--Big-Machine-teal);
  font-size: 20pt;
}
 

/*  ----- Form ----- */
form {
  margin-top: 10px;
}
fieldset {}
legend {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
label {
  font-weight: bold;
  display: block;
  padding: 1em 0px 5px;
}
select {
  box-sizing: content-box;
}
input, select, button{
  color:var(--Big-Machine-steel);
  background-color:var(--Big-Machine-light);
  font-family: 'Montserrat', sans-serif;
  font-size: 14pt;
  box-sizing: content-box;
  padding: 10px 5px 10px 5px;
  width: 200px; 
}
button {
  background-color:var(--Big-Machine-steel);
  color: var(--Big-Machine-light);
  margin: 10px 5px 0px 0px;
  font-weight: lighter;
  border: 3px solid black;
}
button:hover {
  background-color:var(--Big-Machine-red); 
  color:var(--Big-Machine-light);
  font-weight: bold;
}
/* Borders for when entry is valid and invalid and autofill styling */
input:-webkit-autofill {
  border: 3px solid var(--Big-Machine-teal);
}
input:autofill {
  border: 3px solid var(--Big-Machine-teal);
}
input:valid, select:valid {
  border: 3px solid var(--Big-Machine-teal);
  background-color: rgb(232, 240, 254);
}
input:invalid {
  border: 3px solid var(--Big-Machine-red);
}

         
/* ----- Media ----- */
.react-icons {
  vertical-align: middle;
  color: var(--Big-Machine-light);
  background-color: var(--Big-Machine-steel);
  padding: 0.5em 1em;
  border-radius: 15%;
}
.react-icons:hover {
  cursor: pointer;
  color: var(--Big-Machine-light);
  background-color: var(--Big-Machine-red);
}

img {}
                  
/*  ----- Classes for alignment, positioning, widths, grids, embellishments, and animation -----  */
.floatright {}
.floatleft {}
.center-middle {}
          
.ten {}
.twenty {}
.thirty {}
.forty {}
.fifty {}
.sixty {}
.seventy {}
.eighty {}
          
.radius {}
.circle {}
.boxshadow {}
.tshadow {} 
.gradient {}
.shape {}
          
@keyframes App-logo {}
          
/*   ===== TABLET  media query overrides mobile styles ===== */
@media all and (min-width: 600px) {}
          
/*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
@media all and (min-width: 1080px) {}
          
/*   ===== PRINT  media query overrides previous styles =====  */
@media print {}
          